<mat-toolbar class="container">
  <mat-toolbar-row>
    <div fxLayout="row nowrap" fxFlex="54" fxLayoutAlign="space-between center">
      <button
        mat-button
        [routerLink]="['/main/cobranzas']"
        class="principalPage"
      >
        Inicio
      </button>
      <img src="assets/logo_pagos360.svg" alt="" />
    </div>
    <div fxLayout="row nowrap" fxFlex="45" fxLayoutAlign="flex-end center">
      <span *ngIf="userData" class="margin-right">{{ userData.userName }}</span>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        fxLayoutAlign="center center"
      >
        <img src="assets/profile.png" alt="imagen del perfil" class="image" />
      </button>
      <mat-menu #menu="matMenu">
        <span *ngIf=""></span>
        <button mat-menu-item (click)="go('profile')">Mi información</button>
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="container">
    <div fxLayout="row">
      <mat-divider [vertical]="true"></mat-divider>
      <div *ngFor="let section of sections" fxLayout="row">
        <button mat-button (click)="go(section)">
          {{ section | titlecase }}
        </button>
        <mat-divider [vertical]="true"></mat-divider>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
