.marginBot {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

:host ::ng-deep .mat-mdc-table {
  background-color: transparent !important;
}

tr.example-detail-row {
  cursor: default !important;
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}
tr:hover {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  cursor: pointer;
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.borde {
  border-top: 1px solid #0000001f;
}

img {
  width: 200px;
  height: auto;
}

.gif {
  object-fit: none;
  width: 350px;
  height: auto;
}

mat-paginator {
  border-radius: 30px !important;
  // background-color: #e9e9e9 !important;
  background-color: white !important;
}

h4 {
  margin: 0px !important;
  padding: 0 10px;
}

.contairnerDetail {
  padding: 10px 0;
}
