app-table {
  width: 80%;
  border-radius: 30px !important;
  background-color: white !important;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

h1,
h3 {
  color: var(--white);
}

mat-divider {
  width: 90%;
  background-color: var(--background-blue);
}
